_PACKAGE_NAME_ for Debian
---------------------------
 
The VoIP and Instant Messaging client _APP_NAME_ is an application
that allows you to do audio/video conversations over the Internet
through the SIP protocol, as well as chat with your friends using
some of the most popular instant messaging protocols such as SIP/SIMPLE,
Jabber, AIM/ICQ, MSN, Yahoo and others.
 
 -- Maintainer <info@%DOMAIN%>, Fri, 1 July 2011 12:01:01 +0100